{% extends 'base.html.twig' %}

{% block title %}Greenhood - Dashboard{% endblock %}

{% block body %}

{% include 'navbar.html.twig' %}

        <div class="w-full lg:w-4/5 p-8 mt-6 lg:mt-0 text-gray-900 leading-normal bg-white border border-gray-400 border-rounded flex-grow">
            <div class="font-sans">
               <h1 class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl pb-4">Welcome on Greenhood</h1>
               <hr class="border-b border-gray-400">
            </div>
            <p class="py-6">For several years now, and rightly so, awareness of the planet's ecological challenges has been spreading in France and throughout the world. With the IPCC reports, climate change and mass extinctions in front of their eyes, many people are turning towards a life more in line with principles that are more respectful of nature. Growing awareness and information is helping to change our habits. The impact is small on a day-to-day basis, but on a population scale, the butterfly effect is enormous. </p>
            <p class="py-2">The application defines itself as the city's green barometer. It proposes to give an ecological rating to each neighbourhood according to precise and transparent criteria.  Through a coloured map, it easily and visually highlights the neighbourhoods that are perfect for me. I can therefore find the perfect neighbourhood to live in: with eco-responsible shops, composters, carpooling areas, public transport, good air quality, etc. </p>
            <blockquote class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12"> The little extra? GreenHood even has property listings near these areas. I can also search with a specific address to check a location.</blockquote>

            <div class="mt-8">
               <a class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded" href="#">Go on the app</a>
            </div>
        </div>

{% endblock %}
